In [79]:
import pandas as pd

### Create Bike stations list to correct id,lat,lng

In [80]:
# Creat a empty dataframe to load Bike start Station details
BikeStartStation_df = pd.DataFrame(columns=['start_station_name','start_station_id','start_lat','start_lng'])

print(BikeStartStation_df)

# Creat a empty dataframe to load Bike end Station details
BikeEndStation_df = pd.DataFrame(columns=['end_station_name','end_station_id','end_lat','end_lng'])

print(BikeEndStation_df)

Empty DataFrame
Columns: [start_station_name, start_station_id, start_lat, start_lng]
Index: []
Empty DataFrame
Columns: [end_station_name, end_station_id, end_lat, end_lng]
Index: []

### 202209-citibike-tripdata.csv has the longest station list

In [81]:
df09 = pd.read_csv('Resources/202209-citibike-tripdata.csv')

startstationlist=[i for i in df09['start_station_name'].unique()]

/Users/huan-jhelin/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [82]:
df09_droped = df09.dropna(axis=0)

endstationlist=[j for j in df09_droped['end_station_name'].unique()]

BikeEndStation_df['end_station_name']=endstationlist

In [83]:
BikeStartStation_df['start_station_name']=startstationlist

BikeEndStation_df['end_station_name']=endstationlist

In [84]:
for i in range(0,len(BikeStartStation_df)):
    BikeStartStation_df.iloc[i,1]=df09.loc[df09['start_station_name']==BikeStartStation_df['start_station_name'][i]]['start_station_id'].value_counts().index[0]
    BikeStartStation_df.iloc[i,2]=df09.loc[df09['start_station_name']==BikeStartStation_df['start_station_name'][i]]['start_lat'].value_counts().index[0]
    BikeStartStation_df.iloc[i,3]=df09.loc[df09['start_station_name']==BikeStartStation_df['start_station_name'][i]]['start_lng'].value_counts().index[0]

BikeStartStation_df

                  start_station_name start_station_id  start_lat  start_lng
0               Henry St & Degraw St          4380.08  40.684751 -73.999173
1                    6 Ave & W 34 St           6364.1   40.74964  -73.98805
2                      48 St & 5 Ave          3202.06  40.646351 -74.009271
3         Steinway St & Ditmars Blvd          7074.01  40.772717 -73.906127
4                    1 Ave & E 62 St          6753.08  40.761227  -73.96094
...                              ...              ...        ...        ...
1618                   46 St & 7 Ave          3117.05  40.644743 -74.003754
1619                  76 St & 21 Ave          7032.02   40.77028 -73.893675
1620          Decatur Ave & E 197 St          8597.01   40.86557  -73.88807
1621         Boerum Pl\t& Pacific St          4488.09  40.688489  -73.99116
1622  Monroe St & Marcus Garvey Blvd          4467.03  40.686722 -73.938988

[1623 rows x 4 columns]

In [85]:
for i in range(0,len(BikeEndStation_df)):
    BikeEndStation_df.iloc[i,1]=df09.loc[df09['end_station_name']==BikeEndStation_df['end_station_name'][i]]['end_station_id'].value_counts().index[0]
    BikeEndStation_df.iloc[i,2]=df09.loc[df09['end_station_name']==BikeEndStation_df['end_station_name'][i]]['end_lat'].value_counts().index[0]
    BikeEndStation_df.iloc[i,3]=df09.loc[df09['end_station_name']==BikeEndStation_df['end_station_name'][i]]['end_lng'].value_counts().index[0]

BikeEndStation_df

,end_station_name,end_station_id,end_lat,end_lng
0,7 Ave & Park Pl,4125.07,40.677615,-73.973243
1,W 50 St & 9 Ave,6854.05,40.763605,-73.98918
2,5 Ave & E 78 St,7161.08,40.776321,-73.964274
3,36 St & 4 Ave,3420.01,40.654144,-74.00422
4,Crescent St & 30 Ave,6958.06,40.768692,-73.924957
...,...,...,...,...
1658,2 Ave & 32 St,3532.02,40.659176,-74.006584
1659,Warren St,JC006,40.721124,-74.038051
1660,Newport Pkwy,JC008,40.728745,-74.032108
1661,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.736982,-74.027781
1662,Columbus Drive,JC014,40.718355,-74.038914

## Combine Multiple CSV

In [86]:

df = pd.concat(
    map(pd.read_csv, ['Resources/202206-citibike-tripdata.csv',
                      'Resources/202207-citibike-tripdata.csv',
                      'Resources/202208-citibike-tripdata.csv',
                      'Resources/202209-citibike-tripdata.csv']), ignore_index=True)

/Users/huan-jhelin/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/reshape/concat.py:304: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  sort=sort,

In [87]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FD85DE523427365B,classic_bike,2022-06-08 18:55:00,2022-06-08 18:58:13,E 149 St & Park Ave,7884.04,Morris Ave & E 153 St,7901.04,40.818154,-73.925294,40.820036,-73.921411,member
1,E1DF44B06B360036,classic_bike,2022-06-18 16:34:50,2022-06-18 16:47:49,E 115 St & Madison Ave,7599.02,W 148 St & Amsterdam Ave,8033.09,40.798983,-73.944716,40.827075,-73.945909,member
2,72B6DBF42BC1F9E1,classic_bike,2022-06-11 17:57:00,2022-06-11 18:07:33,E 115 St & Madison Ave,7599.02,2 Ave & E 99 St,7386.10,40.798944,-73.944846,40.786259,-73.945526,member
3,5FABA5CB97A6EA64,classic_bike,2022-06-23 17:32:04,2022-06-23 17:38:36,W Broadway & Spring St,5569.06,N Moore St & Hudson St,5470.02,40.724947,-74.001659,40.719961,-74.008443,member
4,EBA54764AA1A3A41,classic_bike,2022-06-30 16:17:43,2022-06-30 16:27:58,E 14 St & 1 Ave,5779.1,5 Ave & E 29 St,6248.06,40.731393,-73.982867,40.745168,-73.986831,member

## Drop Duplicated Data

In [88]:
cleaned_df =df. drop_duplicates()

cleaned_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FD85DE523427365B,classic_bike,2022-06-08 18:55:00,2022-06-08 18:58:13,E 149 St & Park Ave,7884.04,Morris Ave & E 153 St,7901.04,40.818154,-73.925294,40.820036,-73.921411,member
1,E1DF44B06B360036,classic_bike,2022-06-18 16:34:50,2022-06-18 16:47:49,E 115 St & Madison Ave,7599.02,W 148 St & Amsterdam Ave,8033.09,40.798983,-73.944716,40.827075,-73.945909,member
2,72B6DBF42BC1F9E1,classic_bike,2022-06-11 17:57:00,2022-06-11 18:07:33,E 115 St & Madison Ave,7599.02,2 Ave & E 99 St,7386.10,40.798944,-73.944846,40.786259,-73.945526,member
3,5FABA5CB97A6EA64,classic_bike,2022-06-23 17:32:04,2022-06-23 17:38:36,W Broadway & Spring St,5569.06,N Moore St & Hudson St,5470.02,40.724947,-74.001659,40.719961,-74.008443,member
4,EBA54764AA1A3A41,classic_bike,2022-06-30 16:17:43,2022-06-30 16:27:58,E 14 St & 1 Ave,5779.1,5 Ave & E 29 St,6248.06,40.731393,-73.982867,40.745168,-73.986831,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14118700,991C19F915D01AD4,classic_bike,2022-09-01 09:19:01,2022-09-01 09:42:30,N 15 St & Wythe Ave,5520.09,Lafayette St & E 8 St,5788.13,40.724055,-73.955736,40.730207,-73.991026,member
14118701,B1C2E48F72C8EC15,classic_bike,2022-09-17 15:21:43,2022-09-17 15:59:19,Greenwich St & Perry St,5922.04,Christopher St & Greenwich St,5847.01,40.734980,-74.006970,40.732916,-74.007114,member
14118702,FA6C91DFB348AABA,classic_bike,2022-09-02 15:09:15,2022-09-02 15:11:48,Southern Blvd & E 172 St,8129.02,Freeman St & Southern Blvd,8060.01,40.834124,-73.889550,40.830051,-73.892103,member
14118703,D3C3E8ADF4F913E3,classic_bike,2022-09-24 01:30:53,2022-09-24 01:35:07,5 Ave & E 29 St,6248.06,E 26 St & 3 Ave,6089.11,40.745168,-73.986831,40.740693,-73.981606,member
14118704,83F64750663161E5,classic_bike,2022-09-20 21:23:46,2022-09-20 21:33:12,Mott St & Prince St,5561.04,Lafayette St & E 8 St,5788.13,40.723180,-73.994800,40.730207,-73.991026,member

In [89]:
cleaned_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

## Adjust Corresponed Lat, Lng For Each Bike Station

In [90]:
for i in range(0,len(BikeStartStation_df)):
    cleaned_df.loc[cleaned_df['start_station_name']==BikeStartStation_df.iloc[i,0],'start_station_id']=BikeStartStation_df.iloc[i,1]
    cleaned_df.loc[cleaned_df['start_station_name']==BikeStartStation_df.iloc[i,0],'start_lat']=BikeStartStation_df.iloc[i,2]
    cleaned_df.loc[cleaned_df['start_station_name']==BikeStartStation_df.iloc[i,0],'start_lng']=BikeStartStation_df.iloc[i,3]

In [95]:
for i in range(0,len(BikeEndStation_df)):
    cleaned_df.loc[cleaned_df['end_station_name']==BikeEndStation_df.iloc[i,0],'end_station_id']=BikeEndStation_df.iloc[i,1]
    cleaned_df.loc[cleaned_df['end_station_name']==BikeEndStation_df.iloc[i,0],'end_lat']=BikeEndStation_df.iloc[i,2]
    cleaned_df.loc[cleaned_df['end_station_name']==BikeEndStation_df.iloc[i,0],'end_lng']=BikeEndStation_df.iloc[i,3]

## Add ['Trip Time']

In [96]:
# Check Nan value
cleaned_df.loc[cleaned_df['ended_at'].isnull()]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [97]:
cleaned_df['Trip Time']=round((pd.to_datetime(cleaned_df['ended_at'])-pd.to_datetime(cleaned_df['started_at'])).dt.total_seconds()/60,2)

## Add ['Status']

In [98]:
cleaned_df['Status']=""

In [99]:
# 2~30 mins is vaild using time for casual and 2~45 mins for member
cleaned_df.loc[((cleaned_df['Trip Time']>=2) & (cleaned_df['Trip Time']<=30) & (cleaned_df['member_casual']=='casual')),['Status']]='Valid'
cleaned_df.loc[((cleaned_df['Trip Time']>=2) & (cleaned_df['Trip Time']<=45) & (cleaned_df['member_casual']=='member')),['Status']]='Valid'
# 30~45 mins is vaild using time for member
cleaned_df.loc[((cleaned_df['Trip Time']>30) & (cleaned_df['Trip Time']<1440) & (cleaned_df['member_casual']=='casual'))|\
            ((cleaned_df['Trip Time']>45) & (cleaned_df['Trip Time']<1440) & (cleaned_df['member_casual']=='member')),['Status']]='Over Time'
# over 1day usage, we have to investigate
cleaned_df.loc[(cleaned_df['Trip Time']>=1440),['Status']]='Investigate'
# Trip time <0 shows machine loads wrong time
cleaned_df.loc[(cleaned_df['Trip Time']<0),['Status']]='Timeout Error'
# Trip time between 0~2 mins indicates riderships are not trigered
cleaned_df.loc[((cleaned_df['Trip Time']>=0) & (cleaned_df['Trip Time']<2)),['Status']]='Unsuccessful Renting'

## Add ['Error']

In [100]:
cleaned_df['Error Type']=""

In [101]:


cleaned_df.loc[(cleaned_df['end_lat'].isnull()) & (cleaned_df['end_station_name'].isnull()),['Error Type']]='Data Loading Failed'
cleaned_df.loc[(cleaned_df['end_lat'].notnull()) & (cleaned_df['end_station_name'].isnull()),['Error Type']]='GPS Error'
cleaned_df.loc[(cleaned_df['end_lat'].notnull()) & (cleaned_df['end_station_name'].notnull()),['Error Type']]='Completed'

In [102]:
cleaned_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Trip Time,Status,Error Type
0,FD85DE523427365B,classic_bike,2022-06-08 18:55:00,2022-06-08 18:58:13,E 149 St & Park Ave,7884.04,Morris Ave & E 153 St,7901.04,40.818154,-73.925294,40.820036,-73.921411,member,3.22,Valid,Completed
1,E1DF44B06B360036,classic_bike,2022-06-18 16:34:50,2022-06-18 16:47:49,E 115 St & Madison Ave,7599.02,W 148 St & Amsterdam Ave,8033.09,40.798944,-73.944846,40.827075,-73.945909,member,12.98,Valid,Completed
2,72B6DBF42BC1F9E1,classic_bike,2022-06-11 17:57:00,2022-06-11 18:07:33,E 115 St & Madison Ave,7599.02,2 Ave & E 99 St,7386.1,40.798944,-73.944846,40.786259,-73.945526,member,10.55,Valid,Completed
3,5FABA5CB97A6EA64,classic_bike,2022-06-23 17:32:04,2022-06-23 17:38:36,W Broadway & Spring St,5569.06,N Moore St & Hudson St,5470.02,40.724947,-74.001659,40.719961,-74.008443,member,6.53,Valid,Completed
4,EBA54764AA1A3A41,classic_bike,2022-06-30 16:17:43,2022-06-30 16:27:58,E 14 St & 1 Ave,5779.10,5 Ave & E 29 St,6248.06,40.731393,-73.982867,40.745168,-73.986831,member,10.25,Valid,Completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14118700,991C19F915D01AD4,classic_bike,2022-09-01 09:19:01,2022-09-01 09:42:30,N 15 St & Wythe Ave,5520.09,Lafayette St & E 8 St,5788.13,40.724055,-73.955736,40.730207,-73.991026,member,23.48,Valid,Completed
14118701,B1C2E48F72C8EC15,classic_bike,2022-09-17 15:21:43,2022-09-17 15:59:19,Greenwich St & Perry St,5922.04,Christopher St & Greenwich St,5847.01,40.734980,-74.006970,40.732916,-74.007114,member,37.60,Valid,Completed
14118702,FA6C91DFB348AABA,classic_bike,2022-09-02 15:09:15,2022-09-02 15:11:48,Southern Blvd & E 172 St,8129.02,Freeman St & Southern Blvd,8060.01,40.834124,-73.889550,40.830051,-73.892103,member,2.55,Valid,Completed
14118703,D3C3E8ADF4F913E3,classic_bike,2022-09-24 01:30:53,2022-09-24 01:35:07,5 Ave & E 29 St,6248.06,E 26 St & 3 Ave,6089.11,40.745168,-73.986831,40.740693,-73.981606,member,4.23,Valid,Completed
14118704,83F64750663161E5,classic_bike,2022-09-20 21:23:46,2022-09-20 21:33:12,Mott St & Prince St,5561.04,Lafayette St & E 8 St,5788.13,40.723180,-73.994800,40.730207,-73.991026,member,9.43,Valid,Completed

## Output CSV For The Data Range 202106 To 202109

In [103]:
# Output CSV for the data range 202106 to 202109
cleaned_df.to_csv('CityBike-tripdata-0622-0922.csv')